<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.hellosign.com/public/js/embedded/v2.9.0/embedded.development.js"></script>
    <script type="text/javascript">
        const client = new HelloSign({clientId: "<%= @hs_client_id %>"});

        client.open("<%= @sign_url %>".replace("&amp;", "&"), {
            skipDomainVerification: true
        });
    </script>
</head>